{% extends "../base.html" %}
{%block title%}Login page{%endblock%}
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form method="post" class="form-signin" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </div>
      <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </div>
      <div>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% if form.errors %}
        <div class="alert alert-danger login-error mt-3">
          <p>Your username and password didn't match. Please try again.</p>
        </div>
      {% endif %}
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}