{% extends "../base.html" %}
{% load static %}
{% block title %}Home page{% endblock title %}

{% block content %}
  <div class="starter-template margin100">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p><h1>TPU</h1></p>
        <h2>LSTM NN diploma project</h2></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quos asperiores molestias explicabo, quae culpa aliquid veniam quisquam excepturi quis facere corrupti repudiandae animi aut. Sit doloremque animi explicabo officiis.</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock content %}
