{% extends "../base.html" %}
{% load static %}
{% block title %}B.S. &copy; 2018 {% endblock title %}

{% block content %}
  <div class="starter-template margin100">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>Bekzat Shayakhmetov</h1><br>
        <h2>Master's thesis</h2>
        <p class="mt-3 text-justify">
          The topic of this master thesis project is classification of Twitter social network users' relationships based on an analysis of their messages using artificial intelligence. <br><br>
          In this project the LSTM architecture of recurrental neural networks is chosen, since this architecture proved its suitability in solving common problems of natural language processing, such as understanding structure of sentences etc. <br><br>
          The neural network is trained on 3000 examples based training sets found on Internet. The trained accuracy is equal to approximately 88 percents. <br><br>
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock content %}
